
@{
    ViewBag.Title = "GeneratedResultVcf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GeneratedResultVcf</h2>
<div class="container">
    <div class="container">
        <div class="row col-md-3">
            <label for="downloadButton">Representative Name</label>
        </div>
    </div>
    <div class="container">
        <div class="row col-md-3">
            <input name="downloadButton" id="downloadButton" type="button" value="Download File Result" class="btn btn-primary btn-lg" />
        </div>
    </div>
</div>

