@{
    ViewBag.Title = "VCF Generator";
}

<div class="jumbotron">
    <h1>Indivisble VCF Generator</h1>
    <p class="lead">Cupcake ipsum dolor sit. Amet I love brownie donut cake macaroon halvah. Sugar plum marzipan liquorice cake toffee liquorice gingerbread. Dragée tiramisu dessert marzipan dessert muffin sweet roll jujubes. Icing bear claw tootsie roll icing jelly-o tootsie roll. Jelly-o chupa chups donut. Jelly-o wafer jelly sweet roll lemon drops gingerbread dragée brownie I love.</p>
    <p> Danish chocolate sugar plum chupa chups marshmallow croissant cupcake caramels sweet.
Powder gummi bears powder apple pie sweet roll cake. Donut cake marzipan. Lollipop caramels jujubes dragée I love dragée. Cake tiramisu cheesecake pastry powder bear claw chocolate. Donut cake cupcake dessert sweet roll fruitcake caramels. Toffee cotton candy dragée marzipan pastry sweet roll soufflé jelly-o. Gingerbread I love cake. Tootsie roll sweet roll cotton candy lemon drops muffin.</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>