@{
    ViewBag.Title = "VCF Generator";
}

<div class="jumbotron">
    <h1>Indivisble VCF Generator</h1>
    <h2>What is IndivicibleVCF?</h2>
    <p class="lead">IndivisibleVCF is a web app that converts congressional contact info, supplied from the Sunlight Foundation Congress API, into downloadable
        VCF file for any number of uses.</p>
    <h2>How to use IndivisibleVCF</h2>
    <p> All users will have to register an account with any correctly formatted email address, valid password, and five digit zip code.
        Once registered, you will be redirected to the root of the site. Click the IndivisibleVCF header at the top left corner of the site.
        Then click the large "Generate Change!" button. You'll then be directed to a page with a list of your official Federal representatives
        and an action link to download a VCF File containing their contact information. This VCF file can be used to create contacts in MS
        Outlook, iOS, and Android.</p>
    <h2>Goals of IndivisibleVCF</h2>
    <p>One goal of the project is to help users feel more comfortable contacting their representatives. Instead of looking up their representative's
    office number from a Google search then dialing the digits, IndivisibleVCF provides a way for users to store that same contact info in their
    mobile devices as a contact just like all the other people they speak to on a regualar basis, e.g. friends, family, and coworkers.</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>